.App {
  text-align: center;
  padding-top: 5px;
  max-width: 1440px;
  margin: 0 auto;
}

.Task {
  padding: 0 5px;
}

.NextBtn {
  transition: 0.3s;
  border: 3px solid #008b8b00;
  border-radius: 5px;
  background-color: #ffffff89;
  padding: 4px 4px;
  margin: 5px;
  width: calc(15px + 40 * (100vw / 1440));
  height: calc(15px + 40 * (100vw / 1440));
}

.NextBtn:hover {
  cursor: pointer;
  color: #4857ff;
  font-size: calc(6px + 18 * (100vw / 1440));
  border: 3px solid #008b8b;
  background-color: #e5f5f589;
  transition: 0.3s;
  transform: scale(1.2);
}

.BottomNextBtn {
  display: flex;
  justify-content: right;
}

.Board {
  position: relative;
  color: #000;
  text-align: center;
}

.MainImg {
  margin: 0px;
  width: 100%;
}

.Marker {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 10px;
  color: #ffffff;
}

@media (max-width: 1440px) {
  .Marker {
    font-size: calc(6px + 10 * (100vw / 1440));
    border-radius: calc(3px + 7 * (100vw / 1440));
    border-width: calc(1px + 2 * (100vw / 1440));
    padding-top: calc(1px + 4 * (100vw / 1440));
    padding-bottom: calc(1px + 4 * (100vw / 1440));
    padding-left: calc(2px + 8 * (100vw / 1440));
    padding-right: calc(2px + 8 * (100vw / 1440));
  }
}

.EmptyMarker {
  transition: 0.3s;
  border: 2px dashed #4857ff;
  background-color: #ff944833;
  animation-name: idle;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}

.EmptyMarker:hover {
  border: 2px solid #4857ff;
  color: #000;
  cursor: pointer;
}

.MistakeMarker {
  border: 2px solid #ff000880;
  animation-name: mistake;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

.CanFilledMarker {
  border: 2px solid #4857ff;
  background-color: #ff94487d;
}

.FillMarker {
  border: 2px solid #008b8b77;
  background-color: #7fff0033;
  animation-name: fill;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

.FillMarker:hover {
  border-color: transparent;
  color: #090909;
}

.ChoicedMarker {
  transition: 0.3s;
  border: 2px solid #008b8b;
  color: #000;
  cursor: pointer;
  animation-name: choiced;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.Words {
  background: #daf0f0c0;
  position: sticky;
  top: 0;
  z-index: 1;
  width: inherit;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 7px 0;
}

.DragText {
  font-size: 20px;
  border: 2px solid #008b8b;
  background-color: #daf0f0c0;
  color: #e32636;
  padding: 5px 10px;
  margin: 5px;
}

@media (max-width: 1440px) {
  .DragText {
    font-size: calc(8px + 12 * (100vw / 1440));
    border-width: calc(1px + 2 * (100vw / 1440));
    padding-top: calc(2px + 3 * (100vw / 1440));
    padding-bottom: calc(2px + 3 * (100vw / 1440));
    padding-left: calc(3px + 7 * (100vw / 1440));
    padding-right: calc(3px + 7 * (100vw / 1440));
    margin: calc(1px + 4 * (100vw / 1440));
  }
}

.StartDragText {
  transition: 0.3s;
  transform: scale(1);
  border-radius: calc(3px + 7 * (100vw / 1440));
}

.StartDragText:hover {
  transition: 0.3s;
  background: #b7fbfb19;
  color: #f87d87;
  cursor: pointer;
  border-radius: calc(5px + 10 * (100vw / 1440));
}

.DraggingDragText {
  opacity: 0;
}

.ChoicedDragText {
  transition: 0.3s;
  transform: translateY(-10%) scale(1.1);
  cursor: pointer;
  background: #8cfbfb20;
  border-color: #008b8b;
  border-radius: calc(7px + 13 * (100vw / 1440));
  color: #000;
}

.MistakeDragText {
  border-color: #ff0000cc;
  animation-name: word_mistake;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

.FinishDragText {
  opacity: 0;
  transform: scale(0.5);
  transition: 300ms;
}

.TaskList {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

.TaskListElement {
  width: 300px;
  position: relative;
  margin: 5px;
}

.TaskListElement__img {
  width: 100%;
}

.TaskList__fiveStars {
  width: 100%;
  height: 35px;
  background-color: #008b8b67;
  position: absolute;
  transform: translate(0%, -41px);
}

@keyframes idle {
  from {
    transform: translate(-50%, -50%) scale(1);
    border-color: #4857ff;
  }
  20% {
    border-color: #ff9448;
    transform: translate(-50%, -50%) scale(1.2);
  }
  40% {
    transform: translate(-50%, -50%) scale(1);
    border-color: #4857ff;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    border-color: #4857ff;
  }
}

@keyframes fill {
  from {
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes mistake {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  20% {
    transform: translate(-30%, -50%) scale(1);
  }
  40% {
    transform: translate(-70%, -50%) scale(1);
  }
  60% {
    transform: translate(-30%, -50%) scale(1);
  }
  80% {
    transform: translate(-70%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes choiced {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes word_mistake {
  from {
    transform: translate(0%, 0%) scale(1);
  }
  20% {
    transform: translate(10%, 0%) scale(1);
  }
  40% {
    transform: translate(-10%, 0%) scale(1);
  }
  60% {
    transform: translate(10%, 0%) scale(1);
  }
  80% {
    transform: translate(-10%, 0%) scale(1);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}
