.DifficultyDisplay {
  margin: 5px;
  display: flex;
  align-items: flex-end;
}

.DifficultyDisplay__Line1 {
  margin: 1px;
  width: 4px;
  height: 12px;
  background: #2fbe1929;
}

.DifficultyDisplay__active1 {
  background: #30be19;
}

.DifficultyDisplay__Line2 {
  margin: 1px;
  width: 4px;
  height: 14px;
  background: #c0dc8229;
}

.DifficultyDisplay__active2 {
  background: #bfdc82;
}

.DifficultyDisplay__Line3 {
  margin: 1px;
  width: 4px;
  height: 16px;
  background: #fdd83529;
}

.DifficultyDisplay__active3 {
  background: #fdd835;
}

.DifficultyDisplay__Line4 {
  margin: 1px;
  width: 4px;
  height: 18px;
  background: #ff944829;
}

.DifficultyDisplay__active4 {
  background: #ff9448;
}

.DifficultyDisplay__Line5 {
  margin: 1px;
  width: 4px;
  height: 20px;
  background: #cd031429;
}

.DifficultyDisplay__active5 {
  background: #cd0314;
}
