.Marker {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 10px;
  color: #ffffff;
  @media (max-width: 1440px) {
    font-size: calc(6px + 10 * (100vw / 1440));
    border-radius: calc(3px + 7 * (100vw / 1440));
    border-width: calc(1px + 2 * (100vw / 1440));
    padding-top: calc(1px + 4 * (100vw / 1440));
    padding-bottom: calc(1px + 4 * (100vw / 1440));
    padding-left: calc(2px + 8 * (100vw / 1440));
    padding-right: calc(2px + 8 * (100vw / 1440));
  }
  &__Empty {
    transition: 0.3s;
    border: 2px dashed #4857ff;
    background-color: #ff944833;
    animation-name: idle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
    &:hover {
      border: 2px solid #4857ff;
      color: #000;
      cursor: pointer;
    }
  }
  &__Mistake {
    border: 2px solid #ff000880;
    animation-name: mistake;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
  &__CanFilled {
    border: 2px solid #4857ff;
    background-color: #ff94487d;
  }
  &__Fill {
    border: 2px solid #008b8b77;
    background-color: #7fff0033;
    animation-name: fill;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    &:hover {
      border-color: transparent;
      color: #090909;
    }
  }
  &__Choiced {
    transition: 0.3s;
    border: 2px solid #008b8b;
    color: #000;
    cursor: pointer;
    animation-name: choiced;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
  }
}

@keyframes idle {
  from {
    transform: translate(-50%, -50%) scale(1);
    border-color: #4857ff;
  }
  20% {
    border-color: #ff9448;
    transform: translate(-50%, -50%) scale(1.2);
  }
  40% {
    transform: translate(-50%, -50%) scale(1);
    border-color: #4857ff;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    border-color: #4857ff;
  }
}

@keyframes fill {
  from {
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes mistake {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  20% {
    transform: translate(-30%, -50%) scale(1);
  }
  40% {
    transform: translate(-70%, -50%) scale(1);
  }
  60% {
    transform: translate(-30%, -50%) scale(1);
  }
  80% {
    transform: translate(-70%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes choiced {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
