.container {
  font-size: 20px;
}

.TaskList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  font-size: 30px;
}

.TaskListElement {
  /* flex: 1 0 300px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  /* position: relative; */
  border-radius: 10px;
  margin: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px 2px rgba(221, 221, 221, 1);
}

.TaskListElement__imgConteiner {
  display: flex;
  // justify-content: center;
  align-items: center;
  min-height: 220px;
  max-width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.TaskListElement__img {
  max-height: 250px;
  // max-width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.TaskListElement__fiveStars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  padding: 5px;
  width: 100%;
  height: 35px;
  /* background: linear-gradient(90deg, #55575182, #555751de); */
  background: #fff;
  /* position: absolute; */
}
