.header {
  /* background-color: azure; */
  display: flex;
  justify-content: space-between;
  &__logoLink {
    margin: 10px 20px;
  }
  &__loginBtn {
    margin: 10px 20px;
    background: none;
  }
  &__logoImg {
    width: auto;
    height: 35px;
    @media (max-width: 426px) {
      height: 20px;
    }
  }
  &__loginImg {
    width: auto;
    height: 35px;
    @media (max-width: 426px) {
      height: 20px;
    }
  }
}
