.header {
  /* background-color: azure; */
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin: 10px 20px;
}

.header__login {
  margin: 10px 20px;
}

.header__logo__img {
  width: auto;
  height: 35px;
}

@media (max-width: 426px) {
  .header__logo__img {
    height: 20px;
  }
}

.header__login__img {
  width: auto;
  height: 35px;
}

@media (max-width: 426px) {
  .header__login__img {
    height: 20px;
  }
}
