.container {
  width: 100%;
  border: 1px solid #008b8b;
  position: relative;
}

.img {
  margin: 0px;
  width: 100%;
}

.button {
  margin: 5px 0px;
  padding: 2px 5px;
  border: 1px solid #008b8b;
  border-radius: 5px;
}
