.Task {
  padding: 0 5px;
}

.NextBtn {
  transition: 0.3s;
  border: 3px solid #008b8b00;
  border-radius: 5px;
  background-color: #ffffff89;
  padding: 4px 4px;
  margin: 5px;
  width: calc(40px + 40 * (100vw / 1440));
  height: calc(40px + 40 * (100vw / 1440));
}

.NextBtn:hover {
  cursor: pointer;
  color: #4857ff;
  // font-size: calc(6px + 18 * (100vw / 1440));
  border: 3px solid #008b8b;
  background-color: #e5f5f589;
  transition: 0.3s;
  // transform: scale(1.2);
}

.BottomNextBtn {
  display: flex;
  justify-content: right;
}

.Board {
  position: relative;
  color: #000;
  text-align: center;
}

.MainImg {
  margin: 0px;
  width: 100%;
}

.Words {
  background: #daf0f0c0;
  position: sticky;
  top: 0;
  z-index: 1;
  width: inherit;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 7px 0;
}

.Words__end {
  font-size: calc(20px + 20 * (100vw / 1440));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation-name: appearance;
  animation-duration: 0.3s;
  animation-delay: 0s;
}

.Words__thumbsUp {
  width: calc(40px + 40 * (100vw / 1440));
  // height: calc(40px + 40 * (100vw / 1440));
  animation-name: thumbsUp;
  animation-duration: 0.6s;
  animation-delay: 0.3s;
}

.Words__nextLevel {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

@keyframes appearance {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes thumbsUp {
  from {
    transform: rotate(0);
  }
  50% {
    transform: translate(-50%, 0) rotate(-10deg);
  }
  75% {
    transform: translate(20%, 0) rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}
